﻿@model TestBank.ExamPoint.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}
@*<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>*@
<section id="loginForm">

@*@using (Html.BeginForm(new { Action = "Login", Controller = "Account" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
*@
    <fieldset>
        <legend>Log in Form</legend>
        <div class="loginStatus field-validation-error"></div>
        <div class="welcomeUser"></div>
        <div class="loginFields">
            <div class="editor-label-home">
                @Html.LabelFor(m => m.UserName)
                </div>
                <div class="editor-field-home">
                @Html.TextBoxFor(m => m.UserName, new { @class = "homeInput", id = "txtUserName" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="editor-label-home">
                @Html.LabelFor(m => m.Password)
                </div><div class="editor-field-home">
                @Html.PasswordFor(m => m.Password, new {@class="homeInput", id="txtPassword" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="editor-field" style="display: none;">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </div>
            <div class="actions">
            <input class="btnLogin" type="submit" value="Log in" />
            @Html.ActionLink("Register", "Register", "Account")
            </div>
        </div>
    </fieldset>
    
@*}*@
</section>
@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
