﻿@{
    ViewBag.Title = "Home Page";
}

<div>
@*<img src="@Url.Content("~/Images/testbank.jpg")" alt="Test Bank" />*@
<br />
<h3>Welcome to Exam Point</h3>
<p>
    <a href="#">Exam Point</a> will provide the FREE online test's or quizzes as per your needs.&nbsp;
    <img style="float:left; margin: 10px 20px 10px 0;" src="@Url.Content("~/Images/exam-concept.jpg")" align="top" />
    This <a href="#">Exam Point</a> site is professional web based customizable skill assessment tool for business, education and training purpose.
</p>
</div>

