﻿@using System.Web.Optimization;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="keywords" content="Online testing, Create online quizzes, free quiz maker, web based tests, online quiz maker, testing, test maker, assesments, quiz software, quizzes, exams, free, classmarker, schools, teachers, students, instant marking, multiple choice, fill in the blank">
        <meta name="description" content="" />
        <title>@ViewBag.Title - Free online test's and quizzes Exam-Point.com</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" /><link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
        @*<meta http-equiv="content-type" content="text/html; charset=utf-8" />*@
        @*<link href="style.css" rel="stylesheet" type="text/css" media="screen" />*@
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="wrapper">
	        <div id="wrapper2">
		        <div id="header" class="container">
			        <div id="logo">
				        <h1><a href="#">Exam Point</a></h1>
				        <p>Lets test the skills</p>
			        </div>
			        <div id="menu">
				        <ul>
					        <li class="@Html.ActivePage("Home", "Index")">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li id="liMyAccount" class="@Html.ActivePage("Account", "Register")">@Html.ActionLink("My Account", "Register", "Account")</li>
					        <li class="@Html.ActivePage("Home", "Contact")">@Html.ActionLink("Contact", "Contact", "Home")</li>
				        </ul>
			        </div>
		        </div>
		        <!-- end #header -->
		        <div id="page">
			        <div id="content" style="min-height:100%">
                        <div class="mainContent">
                         @RenderBody()
                        </div>
                       
				        <div style="">
                        
                        </div>
				        <div style="clear: both;">&nbsp;</div>
			        </div>
			        <!-- end #content -->
			        <div id="sidebar">
				        <ul>
					        <li>
						        <div id="search">
							        <form method="get" action="#">
								        <div>
									        <input type="text" name="s" id="search-text" value="" />
									        <input type="submit" id="search-submit" value="GO" />
								        </div>
							        </form>
						        </div>
						        <div style="clear: both;">&nbsp;</div>
					        </li>
					        <li>
						        <div id="loginHome">
							        @RenderPage("~/Views/Account/Login.cshtml")
						        </div>
						        <div style="clear: both;">&nbsp;</div>
					        </li>
					        @*<li>
						        <h2>Archives</h2>
						        <ul>
							        <li><a href="#">Aliquam libero</a></li>
							        <li><a href="#">Consectetuer adipiscing elit</a></li>
							        <li><a href="#">Metus aliquam pellentesque</a></li>
							        <li><a href="#">Suspendisse iaculis mauris</a></li>
							        <li><a href="#">Urnanet non molestie semper</a></li>
							        <li><a href="#">Proin gravida orci porttitor</a></li>
						        </ul>
					        </li>*@
				        </ul>
			        </div>
			        <!-- end #sidebar -->
			        <div style="clear: both;">&nbsp;</div>
		        </div>
		        <!-- end #page -->
	        </div>
        </div>
        <!--div id="footer-wrapper"-->
	        <div id="footer">
		        <p>&copy; @DateTime.Now.Year - All Rights Reserved by Exam-Point.com. Design by <a href="http://www.freecsstemplates.org">FCT</a></p>
	        </div>
	        <!-- end #footer -->
        <!--/div-->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/listeditor")
        @RenderSection("scripts", required: false)
    </body>
</html>
