
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
    margin: 0;
	padding: 0;
}
body {
	margin-top: 30px;
	padding: 0px;
	background: #FFFFFF url(../images/img02.jpg) repeat-x left top;
	font-family: 'Arvo', serif;
	font-size: 14px;
	/*color: #969493;*/
	color: #1A2C4D;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #FF6F00;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #148DFB;
}

a:hover 
{
    text-decoration: underline;
}

#wrapper 
{
}

#wrapper2 {
}

.container {
	width: 1000px;
	margin: 0px auto;
}

/* Header */

#header {
	overflow: hidden;
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	padding: 0px 0px;
	background: url(../images/header01.jpg) no-repeat left top;
}

/* Logo */

#logo {
	float: left;
	width: 320px;
	margin: 0px;
	padding: 0px 0px 0px 30px;
	color: #FFFFFF;
}

#logo h1, #logo p {
}

#logo h1 {
	display: block;
	padding: 10px 0px 0px 0px;
	letter-spacing: -3px;
	text-align: center;
	/*text-transform: lowercase;*/
	font-size: 3.8em;
}

#logo h1 a {
	font-family: 'Arvo', serif;
	color: #FF8604;
}

#logo p {
	margin-top: -10px;
	padding: 0px 50px 0 0px;
	letter-spacing: 1px;
	/*text-transform: uppercase;*/
	text-align: right;
	font-family: 'Arvo', serif;
	font-size: 12px;
	color: #FFFFFF;
}

#logo p a {
	color: #FFFFFF;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Splash */

#splash {
	width: 960px;
	height: 300px;
	margin: 0px auto;
}

/* Search */

#search 
{
    display: none;
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	/*background: #FF8604;*/
	background-color: #FF8604;
    border: 1px solid #FF6F00;
	color: #fff;
	font-weight: bold;
}

/* Menu */

#menu {
	float: left;
	width: 600px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 25px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	height: 65px;
	padding: 0px 15px 0px 15px;
}

#menu a {
	display: block;
	height: 70px;
	line-height: 70px;
	margin-right: 1px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	/*text-transform: uppercase;*/
	font-family: 'Arvo', serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	border-bottom: 5px solid #2E2E2E;
	text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */

#page 
{
    min-height: 397px;
	width: 940px;
	margin: 0px auto;
	padding: 30px 0px;
}

/* Content */

#content {
	float: left;
	width: 640px;
	padding: 0px 0px 0px 0px;
}

.post {
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: 1px solid #CCCCCC;
}

.post .title {
	margin: 0px;
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	letter-spacing: 1px;
	letter-spacing: -2px;
	text-align: left;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: normal;
	color: #148DFB;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
	color: #148DFB;
}

.post .entry {
	padding: 0px 0px 30px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	float: right;
	margin: 20px 0px 30px 0px;
	text-align: right;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
}

.more {
	display: block;
	float: left;
	padding: 0px 0px 0px 0px;
	margin-right: 30px;
}

.comments {
	display: block;
	float: left;
	padding: 0px 0px 0px 0px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 280px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-family: 'Arvo', serif;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px solid #CCCCCC;
	background: url(../images/img01.gif) no-repeat left 13px;
	margin: 0px 30px;
	font-size: 14px;
	font-weight: normal;
}

#sidebar li li span {
}

#sidebar li li a {
	padding: 0px 0px 0px 0px;
}

#sidebar h2 {
	margin: 0px;
	padding: 0px 0px 30px 0px;
	padding-left: 30px;
	letter-spacing: -2px;
	text-align: left;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	color: #148DFB;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
	font-size: 14px;
}

#sidebar a {
	border: none;
	color: #FF6F00;
	text-decoration: underline;
}

#sidebar #login {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
	font-size: 14px;
}

#sidebar #loginHome {
	margin: 0 0px;
	padding: 0px 10px 10px 10px;
	text-align: justify;
	font-size: 14px;
}

#sidebar #loginHome .editor-label-home
{
    width: 90px;
}

.actions
{
    text-align : left;
    padding-left:85px;
}



#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Three Column Footer Content */

#footer-content {
	background: #148DFB;
}

#footer 
{
    bottom: 0;
	width: 960x;
	margin: 0px auto;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #E6E8E8;
}

#footer p {
	margin: 0;
	padding-top: 30px;
	line-height: normal;
	/*letter-spacing: 1px;*/
	text-align: center;
	text-decoration: none;
	/*text-transform: uppercase;*/
	font-weight: normal;
	font-size: 12px;
	color: #767676;
}

#footer a {
	color: #767676;
}


/* custom */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

.field-validation-error {
    color: #e80c4d;
    /*font-weight: bold;*/
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    /*width: 300px;*/
}

homeInput 
{
    width: 100px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        /*background-color: #d3dce0;*/
        background-color: #FF8604;
        border: 1px solid #FF6F00;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: bold;
        padding: 2px 8px 2px 8px;
        margin-right: 8px;
        margin-left: 8px;
        width: auto;
        color: #fff;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 1px;
        margin-right: 4px;
    }
    
    
.editor-label-home {
    float: left;
    margin: 3px 0 4px 0;
    width: 70px;
}

.editor-field-home
{
    margin: 3px 0 4px 0;
    margin-left:75px;
}

.editor-field-home input {
    width: 150px;  
    font-size: 0.8em;  
}


#loginHeadLink
{
    float: right;
    text-align: right;
    margin: -10px 50px 0 0;
    /*top: 10px;*/
}

 #loginHeadLink ul {
        margin:0;
    }

    #loginHeadLink li {
        display: inline;
        list-style: none;
        margin-right: 20px;
    }
    
    /*#loginHeadLink span
    {
        margin: -20px 150px 10px 0;
        padding-bottom: 10px;
    }*/